<h2 class="page-header">Dashboard</h2>

<br>

<div class="card">
  <h5 class="card-header">MERN Shopping List App</h5>
  <div class="card-body">
    <h5 class="card-title">A little mern app</h5>
    <p class="card-text">Still adorable</p>
    <a href="https://mern-shopping-list-12312312.herokuapp.com/" class="btn btn-success" target="_blank">Check it out</a>
  </div>
</div>

<hr>

<div class="card">
  <h5 class="card-header">SpaceX GraphQL App</h5>
  <div class="card-body">
    <h5 class="card-title">A list of spaceX launches so far</h5>
    <p class="card-text">Wanna see how the recent launches go?</p>
    <a href="https://floating-crag-30114.herokuapp.com/" class="btn btn-success" target="_blank">Show me those launches</a>
  </div>
</div>
